/node_modules
/public/hot
/public/storage
/public/.htaccess
/public/documents/*
/public/news/*
/public/receipts/*

/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
