*{
    padding:0;
    margin:0;
    font-family: Montserrat, sans-serif;
}
a{
    text-decoration: none;
    color:#969696;
}
body{
    margin:0;
}
#container{
    display: flex;
}
.logo{
    background: url('../images/admin/logo.png');
    width: 175px;
    height: 120px;
    background-size: cover;
    align-self: center;
}
.left_menu{
    flex-basis: 15%;
    box-shadow: #d4d4d4 5px 0px 10px;
    display: flex;
    flex-direction: column;
    height:100vh;
    /*align-items: center;*/
}
.content{
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    height: 100vh;
}
.left_menu .menu{
    list-style: none;
    margin-top:50px;
    margin-left:20px;
}
.left_menu .menu .element-menu{
    margin: 15px 0;
}
table{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
.container{
    margin:20px;
}
form{
    width:500px;
    display: flex;
    flex-direction: column;
}
h2{
    margin: 20px 0;
}
p {
    padding: 10px 0;
}

.pagination{
    list-style: none;
    display: flex;
    margin:auto;
    max-width: fit-content;
}
.page-item.active{
    color:#000000;
}
.page-item{
    font-size: 20px;
    margin: 5px;
    background: white;
    height:auto;
    border-radius: 3px;
    padding: 5px 0;
}
.page-link{
    padding: 10px;
}
.search-fields{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width:100%;
    margin-top:20px;
}
#search_btn{
    width: 150px;
    margin-left: 20px;
}
#search_fields{
    flex-grow: 1;
}